xml/producer/src/main/webapp/WEB-INF/wsdl/CustomerOrders.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions
        name="CustomerOrdersResource"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://orders.resources/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsp="http://www.w3.org/ns/ws-policy"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
        targetNamespace="http://orders.resources/">

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://orders.resources/"
                        schemaLocation="CustomerOrders.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <!-- defining request and reponse -->
    <wsdl:message name="getOrdersRequest">
        <wsdl:part element="tns:getOrdersRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOrdersResponse">
        <wsdl:part element="tns:getOrdersResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="createOrdersRequest">
        <wsdl:part element="tns:createOrdersRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createOrdersResponse">
        <wsdl:part element="tns:createOrdersResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <!-- defining request as input and response as output -->
    <wsdl:portType name="CustomerOrdersPortType">
        <wsdl:operation name="getOrders">
            <wsdl:input message="tns:getOrdersRequest" name="getOrdersRequest">
            </wsdl:input>
            <wsdl:output message="tns:getOrdersResponse" name="getOrdersResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createOrders">
            <wsdl:input message="tns:createOrdersRequest" name="createOrdersRequest">
            </wsdl:input>
            <wsdl:output message="tns:createOrdersResponse" name="createOrdersResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <!-- binding everything together -->
    <wsdl:binding name="CustomerOrdersServiceSoapBinding"
                  type="tns:CustomerOrdersPortType">
        <wsp:PolicyReference URI="#SecurityServiceBindingPolicy"/>
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getOrders">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getOrdersRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOrdersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createOrders">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createOrdersRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createOrdersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- exposing the service -->
    <wsdl:service name="CustomerOrdersResource">
        <wsdl:port binding="tns:CustomerOrdersServiceSoapBinding"
                   name="CustomerOrdersResourcePort">
            <soap:address location="https://localhost:8443/xml/CustomerOrdersResource?wsdl"/>
        </wsdl:port>
    </wsdl:service>

    <!-- security -->
    <wsp:Policy wsu:Id="SecurityServiceBindingPolicy" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:AsymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:InitiatorToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                                    <wsp:Policy>
                                        <sp:WssX509V1Token11/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:InitiatorToken>
                        <sp:RecipientToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V1Token11/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:RecipientToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:TripleDesRsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:EncryptSignature/>
                        <sp:OnlySignEntireHeadersAndBody/>
                        <sp:SignBeforeEncrypting/>
                    </wsp:Policy>
                </sp:AsymmetricBinding>

                <!--what should be signed-->
                <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                </sp:SignedParts>

                <!--what should be encrypted-->
                <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                    </wsp:Policy>
                </sp:Wss10>
            </wsp:All>
        </wsp:ExactlyOne>

        <!--Username password auth-->
        <!--<wsp:ExactlyOne>-->
        <!--<wsp:All>-->
        <!--<sp:SignedSupportingTokens>-->
        <!--<wsp:Policy>-->
        <!--<sp:UsernameToken-->
        <!--sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">-->
        <!--<wsp:Policy>-->
        <!--<sp:WssUsernameToken10/>-->
        <!--</wsp:Policy>-->
        <!--hash / digest passwords, you can use a policy-->
        <!--the specified JBoss security domain needs to be properly configured for computing digests.-->
        <!--<wsp:Policy>-->
        <!--<sp:HashPassword/>-->
        <!--</wsp:Policy>-->
        <!--</sp:UsernameToken>-->
        <!--</wsp:Policy>-->
        <!--</sp:SignedSupportingTokens>-->
        <!--</wsp:All>-->
        <!--</wsp:ExactlyOne>-->
    </wsp:Policy>
</wsdl:definitions>