xml/producer/src/main/webapp/WEB-INF/wsdl/File.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="FileResource"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://resources/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://resources/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://resources/"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://resources/" version="1.0">
            <xs:element name="download" type="tns:download"/>
            <xs:element name="downloadResponse" type="tns:downloadResponse"/>
            <xs:element name="upload" type="tns:upload"/>
            <xs:element name="uploadResponse" type="tns:uploadResponse"/>
            <xs:complexType name="upload">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attachment" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="uploadResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="download">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="downloadResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="download" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="NullPointerException" type="tns:NullPointerException"/>
            <xs:complexType name="NullPointerException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="MimeTypeException" type="tns:MimeTypeException"/>
            <xs:complexType name="MimeTypeException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="IOException" type="tns:IOException"/>
            <xs:complexType name="IOException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="IOException">
        <wsdl:part element="tns:IOException" name="IOException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="uploadResponse">
        <wsdl:part element="tns:uploadResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="NullPointerException">
        <wsdl:part element="tns:NullPointerException" name="NullPointerException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MimeTypeException">
        <wsdl:part element="tns:MimeTypeException" name="MimeTypeException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="downloadResponse">
        <wsdl:part element="tns:downloadResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="upload">
        <wsdl:part element="tns:upload" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="download">
        <wsdl:part element="tns:download" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="FileResource">
        <wsdl:operation name="upload">
            <wsdl:input message="tns:upload" name="upload">
            </wsdl:input>
            <wsdl:output message="tns:uploadResponse" name="uploadResponse">
            </wsdl:output>
            <wsdl:fault message="tns:NullPointerException" name="NullPointerException">
            </wsdl:fault>
            <wsdl:fault message="tns:MimeTypeException" name="MimeTypeException">
            </wsdl:fault>
            <wsdl:fault message="tns:IOException" name="IOException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="download">
            <wsdl:input message="tns:download" name="download">
            </wsdl:input>
            <wsdl:output message="tns:downloadResponse" name="downloadResponse">
            </wsdl:output>
            <wsdl:fault message="tns:NullPointerException" name="NullPointerException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FileResourceServiceSoapBinding" type="tns:FileResource">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="upload">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="upload">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="uploadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NullPointerException">
                <soap:fault name="NullPointerException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="MimeTypeException">
                <soap:fault name="MimeTypeException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="download">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="download">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="downloadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NullPointerException">
                <soap:fault name="NullPointerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FileResource">
        <wsdl:port binding="tns:FileResourceServiceSoapBinding" name="FileResourcePort">
            <soap:address location="https://localhost:8443/xml/FileResource"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>