xml/producer/src/main/webapp/WEB-INF/wsdl/Payment.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="PaymentResource"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://resources/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://resources/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://resources/"
                   elementFormDefault="unqualified" targetNamespace="http://resources/" version="1.0">

            <xs:element name="creditCardInfo" type="tns:CreditCardInfo"/>

            <xs:element name="paymentRequest" type="tns:PaymentRequest"/>

            <xs:element name="paymentResponse" type="tns:PaymentResponse"/>

            <xs:element name="processPayment" type="tns:processPayment"/>

            <xs:element name="processPaymentResponse" type="tns:processPaymentResponse"/>

            <xs:complexType name="processPayment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="paymentProcessorRequest" type="tns:PaymentRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PaymentRequest">
                <xs:sequence>
                    <xs:element name="creditCardInfo" type="tns:CreditCardInfo"/>
                    <xs:element minOccurs="0" name="amount" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreditCardInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cardNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="expiryDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="firstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="secCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="address" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="processPaymentResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="response" type="tns:PaymentResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PaymentResponse">
                <xs:sequence>
                    <xs:element name="result" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="processPayment">
        <wsdl:part element="tns:processPayment" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="processPaymentResponse">
        <wsdl:part element="tns:processPaymentResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PaymentResource">
        <wsdl:operation name="processPayment">
            <wsdl:input message="tns:processPayment" name="processPayment">
            </wsdl:input>
            <wsdl:output message="tns:processPaymentResponse" name="processPaymentResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PaymentResourceServiceSoapBinding" type="tns:PaymentResource">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processPayment">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="processPayment">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="processPaymentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PaymentResource">
        <wsdl:port binding="tns:PaymentResourceServiceSoapBinding" name="PaymentResourcePort">
            <soap:address location="https://localhost:8443/xml/PaymentResource"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>